<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar-4">
        <ul class="nav-links-4">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown-4">
                <a href="#">Services</a>
                <ul class="dropdown-menu-4">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">App Development</a></li>
                    <li><a href="#">SEO</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
      </nav>
</body>
</html>