@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Named Font Weights */
.roboto-thinner {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-italic-thinner {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.righteous-thinner {
  font-family: "Righteous", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.righteous-italic-thinner {
  font-family: "Righteous", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lexend-thinner {
  font-family: "Lexend", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lexend-italic-thinner {
  font-family: "Lexend", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.sour-gummy-thinner {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-thinner {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-thinner {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-thinner {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-thinner {
  font-family: "Mona Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-thinner {
  font-family: "Mona Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-thinner {
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-thinner {
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-thinner {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-thinner {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-thinner {
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-thinner {
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-thinner {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-thinner {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-thinner {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-thinner {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-thinner {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-thinner {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-thinner {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-thinner {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-thinner {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-thinner {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-thinner {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-thinner {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-italic-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.righteous-thin {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.righteous-italic-thin {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.lexend-thin {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.lexend-italic-thin {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.sour-gummy-thin {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-thin {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-thin {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-thin {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-thin {
  font-family: "Mona Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-thin {
  font-family: "Mona Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-thin {
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-thin {
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-thin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-thin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-thin {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-thin {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-thin {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-thin {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-thin {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-thin {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-thin {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-thin {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-thin {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-thin {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-extra-light {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-italic-extra-light {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.righteous-extra-light {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.righteous-italic-extra-light {
  font-family: "Righteous", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.lexend-extra-light {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.lexend-italic-extra-light {
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.sour-gummy-extra-light {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-extra-light {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-extra-light {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-extra-light {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-extra-light {
  font-family: "Mona Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-extra-light {
  font-family: "Mona Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-extra-light {
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-extra-light {
  font-family: "Dosis", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-extra-light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-extra-light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-extra-light {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-extra-light {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-extra-light {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-extra-light {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-extra-light {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-extra-light {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-extra-light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-extra-light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-extra-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-extra-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-extra-light {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-extra-light {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-extra-light {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-extra-light {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-italic-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.righteous-light {
  font-family: "Righteous", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.righteous-italic-light {
  font-family: "Righteous", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lexend-light {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lexend-italic-light {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sour-gummy-light {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-light {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-light {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-light {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-light {
  font-family: "Mona Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-light {
  font-family: "Mona Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-light {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-light {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-light {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-light {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-light {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-light {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-light {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-light {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-italic-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.righteous-italic-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lexend-regular {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-italic-regular {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sour-gummy-regular {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-regular {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-regular {
  font-family: "Mona Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-regular {
  font-family: "Mona Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-regular {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-regular {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-regular {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-regular {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-regular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-regular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-regular {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-regular {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-italic-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.righteous-medium {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.righteous-italic-medium {
  font-family: "Righteous", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.lexend-medium {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.lexend-italic-medium {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.sour-gummy-medium {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-medium {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-medium {
  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-medium {
  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-medium {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-medium {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-medium {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-medium {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-medium {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-medium {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-medium {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-medium {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-medium {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-medium {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-medium {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-medium {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-medium {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-medium {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-semi-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-italic-semi-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.righteous-semi-bold {
  font-family: "Righteous", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.righteous-italic-semi-bold {
  font-family: "Righteous", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.lexend-semi-bold {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lexend-italic-semi-bold {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.sour-gummy-semi-bold {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-semi-bold {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-semi-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-semi-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-semi-bold {
  font-family: "Mona Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-semi-bold {
  font-family: "Mona Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-semi-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-semi-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-semi-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-semi-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-semi-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-semi-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-semi-bold {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-semi-bold {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-semi-bold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-semi-bold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-semi-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-semi-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-semi-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-semi-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-semi-bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-semi-bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-semi-bold {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-semi-bold {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-italic-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.righteous-bold {
  font-family: "Righteous", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.righteous-italic-bold {
  font-family: "Righteous", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lexend-bold {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lexend-italic-bold {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sour-gummy-bold {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-bold {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-bold {
  font-family: "Mona Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-bold {
  font-family: "Mona Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-bold {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-bold {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-extra-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.roboto-italic-extra-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.righteous-extra-bold {
  font-family: "Righteous", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.righteous-italic-extra-bold {
  font-family: "Righteous", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.lexend-extra-bold {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.lexend-italic-extra-bold {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.sour-gummy-extra-bold {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-extra-bold {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-extra-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-extra-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-extra-bold {
  font-family: "Mona Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-extra-bold {
  font-family: "Mona Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-extra-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-extra-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-extra-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-extra-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-extra-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-extra-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-extra-bold {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-extra-bold {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-extra-bold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-extra-bold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-extra-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-extra-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-extra-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-extra-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-extra-bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-extra-bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-extra-bold {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-extra-bold {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-optical-sizing: auto;
}

.roboto-extra-large {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-italic-extra-large {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.righteous-extra-large {
  font-family: "Righteous", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.righteous-italic-extra-large {
  font-family: "Righteous", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.lexend-extra-large {
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lexend-italic-extra-large {
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.sour-gummy-extra-large {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.sour-gummy-italic-extra-large {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.plus-jakarta-extra-large {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.plus-jakarta-italic-extra-large {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.mona-sans-extra-large {
  font-family: "Mona Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.mona-sans-italic-extra-large {
  font-family: "Mona Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.dosis-extra-large {
  font-family: "Dosis", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.dosis-italic-extra-large {
  font-family: "Dosis", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.josefin-sans-extra-large {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.josefin-sans-italic-extra-large {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.manrope-extra-large {
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.manrope-italic-extra-large {
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.lato-extra-large {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.lato-italic-extra-large {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.inter-extra-large {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.inter-italic-extra-large {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.poppins-extra-large {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.poppins-italic-extra-large {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.open-sans-extra-large {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.open-sans-italic-extra-large {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.apple-font-extra-large {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.apple-font-italic-extra-large {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.sf-font-extra-large {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
}

.sf-font-italic-extra-large {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-optical-sizing: auto;
}

.fs-1 {
  font-size: 5px !important;
}

.fs-2 {
  font-size: 10px !important;
}

.fs-3 {
  font-size: 15px !important;
}

.fs-4 {
  font-size: 20px !important;
}

.fs-5 {
  font-size: 25px !important;
}

.fs-6 {
  font-size: 30px !important;
}

.fs-7 {
  font-size: 35px !important;
}

.fs-8 {
  font-size: 40px !important;
}

.fs-9 {
  font-size: 45px !important;
}

.fs-10 {
  font-size: 50px !important;
}

.fs-11 {
  font-size: 55px !important;
}

.fs-12 {
  font-size: 60px !important;
}

.fs-13 {
  font-size: 65px !important;
}

.fs-14 {
  font-size: 70px !important;
}

.fs-15 {
  font-size: 75px !important;
}

.fs-16 {
  font-size: 80px !important;
}

.fs-17 {
  font-size: 85px !important;
}

.fs-18 {
  font-size: 90px !important;
}

.fs-19 {
  font-size: 95px !important;
}

.fs-20 {
  font-size: 100px !important;
}

.fs-21 {
  font-size: 105px !important;
}

.fs-22 {
  font-size: 110px !important;
}

.fs-23 {
  font-size: 115px !important;
}

.fs-24 {
  font-size: 120px !important;
}

.fs-25 {
  font-size: 125px !important;
}

.fs-26 {
  font-size: 130px !important;
}

.fs-27 {
  font-size: 135px !important;
}

.fs-28 {
  font-size: 140px !important;
}

.fs-29 {
  font-size: 145px !important;
}

.fs-30 {
  font-size: 150px !important;
}

.fs-31 {
  font-size: 155px !important;
}

.fs-32 {
  font-size: 160px !important;
}

.fs-33 {
  font-size: 165px !important;
}

.fs-34 {
  font-size: 170px !important;
}

.fs-35 {
  font-size: 175px !important;
}

.fs-36 {
  font-size: 180px !important;
}

.fs-37 {
  font-size: 185px !important;
}

.fs-38 {
  font-size: 190px !important;
}

.fs-39 {
  font-size: 195px !important;
}

.fs-40 {
  font-size: 200px !important;
}

.fw-100 {
  font-weight: 100px !important;
}

.fw-200 {
  font-weight: 200px !important;
}

.fw-300 {
  font-weight: 300px !important;
}

.fw-400 {
  font-weight: 400px !important;
}

.fw-500 {
  font-weight: 500px !important;
}

.fw-600 {
  font-weight: 600px !important;
}

.fw-700 {
  font-weight: 700px !important;
}

.fw-800 {
  font-weight: 800px !important;
}

.fw-900 {
  font-weight: 900px !important;
}