/* Navigation  Bar CSS Style*/
.navbar {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: space-around;
  gap: 80%;
}

.logo {
  font-size: 20px;
  font-weight: bolder;
}

.logo-img {
  height: 1rem;
  width: 1rem;
}

/* Navbar 3 */
.navbar-3{
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding:0 2.5% 0 2.5%;
}

.navbar-3-container ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-3-container ul li a{
  font-size: 18px;
  color: aliceblue;
  margin-left: 1rem;
  text-decoration: none;
  position: relative;
}

.navbar-3-container ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.navbar-3-container ul li a:hover::after {
  width: 100%;
}

/* Button */
.button-dee {
  border: none;
  border-radius: 5px;
  color: aliceblue;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  background-size: 200% 100%;
  background-position: left;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-position 0.3s ease-in-out;
}

/* Hover Effect */
.button-dee:hover {
  background-position: right;
}


/* Footer Component CSS Style */
.footer {
  width: 100%;
  height: 30px;
  text-align: center;
  justify-content: center;
  font-family: Verdana, Tahoma, sans-serif;
  color: aliceblue;
}